@model ResumeBuilder.Web.Areas.Users.Models.ResumeListModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResumeListModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumeCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumeCreateDate)
        </dd>
    </dl>
    <div class="row">
        @* <h1>@Model.PersonalInfo.Email</h1> *@
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
